
.blog-card{
    display:flex;
    margin-bottom:60px;
    img{
        width:49%;
        margin-right:24px;
    }
}
.blog-content{
    display:flex;
    flex-wrap: wrap;
}

.blog-text{
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-between;
    h4{
        color: $primary-700;
        font-size:$text-3xl;
    }
    p{
        color:$gray-500;
    }
    a{  
        text-align: right;
        color: $primary-700;
        font-size:$text-4xl;
        font-weight: 900;
    }
}

.blog-subtitle{
    display: flex;
    justify-content: space-between;
    margin-bottom:16px;
    h6{
        font-weight: 500;
    }
}

@media (max-width:767px){

    .blog-card{
        display:flex;
        flex-wrap:wrap;
        margin-bottom:24px;
        img{
            width:100%;
            margin-right:0;
        }
    };

    .blog-text{
        width:100%;
        h4{
            font-size:$text-xl;
        };
        
        a{
            display:none;
        }
        .blog-desc{
            display:none;
        }
    };

   
    
}