.faq-content{
    h5{
        font-size: $text-lg;
        font-weight: bold;
        margin-bottom:24px;
    }
}

.faq-list{
    h6{
        font-size:$text-lg;
        font-weight:bold;
        margin-bottom:8px;
    }
    li{
        margin-bottom:32px;
    }
    
}