<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/scss/all.scss">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <%- include('./layout/header') -%>
  
    <div class=" section location">
        <div class="header-title container">
            <h3>門市據點</h3>
            <div class="location-select">
                <h5>選擇地區</h5>
                <select>
                    <option>台北市</option>
                    <option>桃園縣</option>
                    <option>新竹縣</option>
                    <option>苗栗縣</option>
                    <option>高雄市</option>
                    <option>屏東縣</option>
                </select>
            </div>
        </div>
        <div class="location-list container">
            <ul class="location-card">
                <img src="../assets/img/store-1.png" alt="">
                <li class="location-title">
                    <h5>台北中山旗艦店</h5>
                </li>
                <ul class="location-info">
                    <li><span class="material-symbols-outlined">
                        call
                        </span>
                        電話：(02)000-1234
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                        schedule
                        </span>
                        營業時間：10:00-21:00
                        
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                            location_on
                            </span>
                            地址：台北市中山區南京東路25巷2-1號
                            
                    </li>
                </ul>
                <a href="location-content.html">詳細資訊</a>
            </ul>
            <ul class="location-card">
                <img src="../assets/img/store-2.png" alt="">
                <li class="location-title">
                    <h5>台北綠園店</h5>
                </li>
                <ul class="location-info">
                    <li><span class="material-symbols-outlined">
                        call
                        </span>
                        電話：(02)000-2345
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                        schedule
                        </span>
                        營業時間：10:00-21:00
                        
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                            location_on
                            </span>
                            地址：台北市中正區復興南路132-1號
                            
                    </li>
                </ul>
                <a href="">詳細資訊</a>
            </ul>
            <ul class="location-card">
                <img src="../assets/img/store-3.png" alt="">
                <li class="location-title">
                    <h5>台中清水旗艦店</h5>
                </li>
                <ul class="location-info">
                    <li><span class="material-symbols-outlined">
                        call
                        </span>
                        電話：(02)000-1234
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                        schedule
                        </span>
                        營業時間：10:00-21:00
                        
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                            location_on
                            </span>
                            地址：台中市清水區經南一路23號8樓
                            
                    </li>
                </ul>
                <a href="">詳細資訊</a>
            </ul>
            <ul class="location-card">
                <img src="../assets/img/store-4.png" alt="">
                <li class="location-title">
                    <h5>高雄中正形象店</h5>
                </li>
                <ul class="location-info">
                    <li><span class="material-symbols-outlined">
                        call
                        </span>
                        電話：(07)000-2345
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                        schedule
                        </span>
                        營業時間：10:00-21:00
                        
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                            location_on
                            </span>
                            地址：高雄市苓雅區中正路 38 號 12 樓
                            
                    </li>
                </ul>
                <a href="">詳細資訊</a>
            </ul>
            <ul class="location-card">
                <img src="../assets/img/store-5.png" alt="">
                <li class="location-title">
                    <h5>高雄夢時代店</h5>
                </li>
                <ul class="location-info">
                    <li><span class="material-symbols-outlined">
                        call
                        </span>
                        電話：(07)000-1234
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                        schedule
                        </span>
                        營業時間：10:00-21:00
                        
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                            location_on
                            </span>
                            地址：高雄市前鎮區中華一路 63 號 6 樓
                            
                    </li>
                </ul>
                <a href="">詳細資訊</a>
            </ul>
        </div>
  
       
       

    </div>





    <%- include('./layout/footer') -%>



</body>

</html>