<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/scss/all.scss">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <%- include('./layout/header') -%>
        <ul class="tab">
            <li class="active"><a href="optical-list.html">OPTICAL</a></li>
            <li><a href="sunglasses-list.html">SUNGLASSES</a></li>
            <li><a href="#">FUNCTIONAL</a></li>
        </ul>

        <div class="product-header">
            <div class="product-header-img01">
            </div>
            <div class="product-header-img02">
            </div>
        </div>

        <div class="section product-list">
            <div class="sub-title">
                <h3>Celluloid Combi</h3>
                <h4>賽璐珞鈦金屬混合鏡框</h4>
            </div>
            <ul class="container product-grid">
                <li class="product-card">
                    <a href=""> <img src="../assets/img/product-1.png" alt=""></a>

                    <div class="product-title">
                        <h6>BJ41600S</h6>
                        <h6>NTD3,490</h6>
                    </div>
                    <div class="product-color">
                        <a href="#" class="color1"></a>
                        <a href="#" class="color2"></a>
                    </div>
                </li>
                <li class="product-card">
                    <a href=""><img src="../assets/img/product-2.png" alt=""></a>
                    <div class="product-title">
                        <h6>BJ41600S</h6>
                        <h6>NTD3,490</h6>
                    </div>
                    <div class="product-color">
                        <a href="#" class="color1"></a>
                        <a href="#" class="color2"></a>
                    </div>
                </li>
                <li class="product-card">
                    <a href=""><img src="../assets/img/product-3.png" alt=""></a>
                    <div class="product-title">
                        <h6>BJ41600S</h6>
                        <h6>NTD3,490</h6>
                    </div>
                    <div class="product-color">
                        <a href="#" class="color1"></a>
                        <a href="#" class="color2"></a>
                    </div>
                </li>
                <li class="product-card">
                    <a href=""><img src="../assets/img/product-4.png" alt=""></a>
                    <div class="product-title">
                        <h6>BJ41600S</h6>
                        <h6>NTD3,490</h6>
                    </div>
                    <div class="product-color">
                        <a href="#" class="color1"></a>
                        <a href="#" class="color2"></a>
                    </div>
                </li>
                <li class="product-card">
                    <a href=""><img src="../assets/img/product-5.png" alt=""></a>
                    <div class="product-title">
                        <h6>BJ41600S</h6>
                        <h6>NTD3,490</h6>
                    </div>
                    <div class="product-color">
                        <a href="#" class="color1"></a>
                        <a href="#" class="color2"></a>
                    </div>
                </li>
                <li class="product-card">
                    <a href=""><img src="../assets/img/product-6.png" alt=""></a>
                    <div class="product-title">
                        <h6>BJ41600S</h6>
                        <h6>NTD3,490</h6>
                    </div>
                    <div class="product-color">
                        <a href="#" class="color1"></a>
                        <a href="#" class="color2"></a>
                    </div>
                </li>
                <li class="product-card">
                    <a href=""><img src="../assets/img/product-7.png" alt=""></a>
                    <div class="product-title">
                        <h6>BJ41600S</h6>
                        <h6>NTD3,490</h6>
                    </div>
                    <div class="product-color">
                        <a href="#" class="color1"></a>
                        <a href="#" class="color2"></a>
                    </div>
                </li>
                <li class="product-card">
                    <a href=""><img src="../assets/img/product-8.png" alt=""></a>
                    <div class="product-title">
                        <h6>BJ41600S</h6>
                        <h6>NTD3,490</h6>
                    </div>
                    <div class="product-color">
                        <a href="#" class="color1"></a>
                        <a href="#" class="color2"></a>
                    </div>
                </li>
                <li class="product-card">
                    <a href=""><img src="../assets/img/product-9.png" alt=""></a>
                    <div class="product-title">
                        <h6>BJ41600S</h6>
                        <h6>NTD3,490</h6>
                    </div>
                    <div class="product-color">
                        <a href="#" class="color1"></a>
                        <a href="#" class="color2"></a>
                    </div>
                </li>
                <li class="product-card">
                    <a href=""><img src="../assets/img/product-10.png" alt=""></a>
                    <div class="product-title">
                        <h6>BJ41600S</h6>
                        <h6>NTD3,490</h6>
                    </div>
                    <div class="product-color">
                        <a href="#" class="color1"></a>
                        <a href="#" class="color2"></a>
                    </div>
                </li>
                <li class="product-card">
                    <a href=""><img src="../assets/img/product-11.png" alt=""></a>
                    <div class="product-title">
                        <h6>BJ41600S</h6>
                        <h6>NTD3,490</h6>
                    </div>
                    <div class="product-color">
                        <a href="#" class="color1"></a>
                        <a href="#" class="color2"></a>
                    </div>
                </li>
                <li class="product-card">
                    <a href=""><img src="../assets/img/product-12.png" alt=""></a>
                    <div class="product-title">
                        <h6>BJ41600S</h6>
                        <h6>NTD3,490</h6>
                    </div>
                    <div class="product-color">
                        <a href="#" class="color1"></a>
                        <a href="#" class="color2"></a>
                    </div>
                </li>
            </ul>
            <ul class="pagination container">
                <li><a href="#">上一頁</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#" class="active">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#" class="disable">下一頁</a></li>
            </ul>
        </div>

        <%- include('./layout/footer') -%>



</body>

</html>